*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
app/.gitignore
gradlew.bat
caches/
native/
wrapper/
daemon/6.4-rc-1/daemon-11160.out.log
daemon/6.4-rc-1/daemon-2852.out.log
daemon/6.4-rc-1/registry.bin
daemon/6.4-rc-1/registry.bin.lock
daemon/6.5-milestone-1/daemon-3096.out.log
daemon/6.5-milestone-1/daemon-7252.out.log
daemon/6.5-milestone-1/daemon-7376.out.log
daemon/6.5-milestone-1/registry.bin
daemon/6.5-milestone-1/registry.bin.lock
